body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #111;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #111;
}

.logo {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.logo span {
  color: #00CFCB;
}

.menu {
  list-style: none;
  display: flex;
  gap: 35px;
}

.menu a {
  text-decoration: none;
  color: #ddd;
  font-weight: 500;
}

.menu a.active,
.menu a:hover {
  color: #00CFCB;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
}

.hero-text {
  max-width: 500px;
}

.hero-text span {
  color: #00CFCB;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #00CFCB;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}

.hero-img img {
  width: 380px;
}
/* SECTION A PROPOS */
.about {
  background: #f4f4f8;
  padding: 80px 60px;
  text-align: center;
}

.about h2 {
  color: #00CFCB;
  margin-bottom: 50px;
  font-size: 28px;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
  text-align: left;
}

.about-text {
  max-width: 500px;
  line-height: 1.7;
  font-size: 16px;
}

.about-text span,
.about-text .highlight {
  color: #00CFCB;
  font-weight: 600;
}

.btn-cv {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 25px;
  background: #00CFCB;
  color: white;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
}

.about-photo img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #00CFCB;
}
.projects-section {
    text-align: center;
    padding: 40px 0;
}

.projects-section h2 {
    color: #21d4c2;
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 600;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; /* utile pour le responsive */
}

.project-card {
    background: #f7f9ff;
    width: 260px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.05);
    text-align: center;
    font-size: 14px;
}

.project-card p {
    margin-bottom: 15px;
    color: #333;
    line-height: 1.4;
}

.tags {
    display: block;
    margin-bottom: 20px;
    color: #777;
    font-size: 13px;
}

.project-btn {
    background-color: #21d4c2;
    border: none;
    padding: 8px 25px;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.25s ease;
}

.project-btn:hover {
    background-color: #17b3a6;
}
.skills-section {
    padding: 50px 0;
    text-align: center;
    background: #f3f3f8;
}

.skills-section h2 {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.skills-card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.05);
    text-align: left;
}

.skills-card h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.skill {
    margin-bottom: 20px;
}

.skill span {
    font-size: 14px;
    color: #333;
}

.bar {
    width: 100%;
    height: 6px;
    background: #ddd;
    border-radius: 10px;
    margin-top: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: #21d4c2;
    border-radius: 10px;
}
.contact-section {
    background: #0f0f0f;
    padding: 60px 0;
    text-align: center;
    color: white;
}

.contact-section h2 {
    font-size: 28px;
    margin-bottom: 40px;
    font-weight: 600;
    line-height: 1.4;
}

.highlight {
    color: #21d4c2;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.input-group {
    flex: 1;
    text-align: left;
}

.input-group.full {
    width: 100%;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 14px;
}

textarea {
    height: 150px;
    resize: none;
}

.contact-btn {
    background: #21d4c2;
    border: none;
    padding: 10px 30px;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.25s ease;
    margin-top: 10px;
}

.contact-btn:hover {
    background: #17b3a6;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #eaeaea;
    font-size: 14px;
}

.footer span {
    color: #21d4c2;
}
